*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(assest2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

.headingnav{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}
.Logo{
    height: 6vh;
     object-fit: scale-down;
    margin-top: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: transparent;
    font-family: 'poppins';
    font-size: large;
}
.heading {
    display: flex;
    margin-top: 0;
}
.nav-links {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 26px;
    border-radius: 15px;
}
.nav-links a:hover:not(.active) {
    background-color: lightseagreen;
}
.nav-links li a.active {
    color: #4caf50;
}

.Mcon{
    max-width: 150vh;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    letter-spacing: 1px;
}
.mconh1{
    font-size: 60px;
    margin-top: 6%;
    letter-spacing: 2px;
    line-height: 60px;
     font-family: 'poppins';
}
.mconp{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'poppins';
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
    text-align: justify;
}

.listcon{
    font-weight: 900;
    line-height: 2;
}


.btn{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-family: 'poppins';
}

.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7ca0ca;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/*glow*/
.btn::before{
    content: "";
    background: linear-gradient(
      20deg,
      #1b2a57, #5484ba, #7ca0ca, #c2e7fa
    );
    position: absolute;
    top: -2px;
    left:2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
  }
  @keyframes glowing {
    0% {background-position:0 0}
    50% {background-position:400% 0}
    100% {background-position:0 0}
}
/*hover*/
.btn:hover::before{
    opacity: 1;
}
.btn:active:after{
    background: transparent;
}
.btn:active{
    color:#000;
    font-weight: bold;
}

/**section banner end**/

#page1{
    height: 120vh;
    max-width: 150vh;
    margin: auto;
}
.pg1_hh2{
    font-size: 35px;
    margin-top: 6%;
    letter-spacing: 2px; 
}
.pg1_hp{
    text-align: justify;
}



/**section page1 end**/


#page2{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(social-media-marketing-card-image.jpg);
    background-size: cover;
    color: #fff;
}
.pg2head{
    padding-top: 12%;
    max-width: 150vh;
    margin: auto;
}
.common{
    font-size: 40px;
    letter-spacing: 2px; 
    text-align: center;
}
.common_p{
    text-align: justify;
    letter-spacing: 1px;
    font-weight: 100;
}
.btn2{
    padding-left: 65vh;
}

#page3{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(content-marketing-card-image.jpg);
    background-size: cover;
    color: #fff;
}
#page4{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url();
    background-size: cover;
    color: #fff;
}
#page5{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url();
    background-size: cover;
    color: #fff;
}
#page6{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url();
    background-size: cover;
    color: #fff;
}
#page7{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url();
    background-size: cover;
    color: #fff;
}